.deps
.libs
*.o
*.lo
config.log
config.status
autom4te.cache
PWD
Makefile
libtool
samples/unixodbc.freetds.driver.template
src/apps/bsqldb
src/apps/bsqlodbc
src/apps/datacopy
src/apps/defncopy
src/apps/fisql/fisql
src/apps/freebcp
src/apps/tsql
src/ctlib/libct.la
src/dblib/libsybdb.la
src/odbc/libtdsodbc.la
src/pool/tdspool
src/replacements/libreplacements.la
src/server/libtdssrv.la
src/server/tdssrv
src/tds/libtds.la

